@mixin button-style {
  cursor: pointer;
  border: none;
  background-color: $primary-color;
  border-radius: 3px;
  padding: 8px 24px;
  font-family: $roboto;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}

@mixin heading-style {
  font-size: $font-m;
  font-weight: 700;
  letter-spacing: -0.18px;
  color: #888;
}

@mixin input-style {
  padding-inline: 3%;
  padding-block: 1%;
  border-radius: 4px;
  border: 3px solid #e8e8e8;
  font-size: $font-s;
  letter-spacing: -0.15px;
  color: #121212;
  width: 40%;
}
