$primary-color: #0290ff;
$secondary-color: #121212;
$roboto: 'Roboto Slab', serif;
$montserrat: 'Montserrat', sans-serif;
$font-xs: 0.875rem;
$font-s: 1rem;
$font-m: 1.245rem;
$font-l: 1.875rem;
$font-xl: 2rem;
